body{
    color: rgb(242, 242, 242);
    background-color: black;
    font-size: 15px;
}

   /* site scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 9px;
}
::-webkit-scrollbar-track {
    background: rgb(43, 42, 42);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ffe922;
    border-radius: 50px;
}

/* navbar */
.navbar {
    color: #fff;
    background-color: #1f1f1f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    height: 40px;
    display:flex;justify-content: space-between;
    z-index: 3;
}

.navbar a{
  color: #ffe922;
}

.nav-link {
color: #ffffff !important;
}

#myNavbar {
    color: #ebebeb;
    justify-content: right;  
}
.active {
  padding: 10px;
}

#myLogo{
    height: 15px;
}

#myLogoAlt{
  height: 15px;
}

/* media query */
@media screen and (max-width: 992px) {
  #myLogo{
    display: none;
  }
}

@media screen and (min-width: 992px) {
  #myLogoAlt{
    display: none;
  }
}


.navbar-toggle {
  height: 10px;
  width: 30pt; 
  justify-content: right !important;
}

/* into section */
.introduction {
  justify-content: center;
  padding: 50px;
  padding-top: 150px;
}
#intro{
  padding-bottom: 20px;
}

#background-video{
    position: relative;
    width: 100%;
    opacity: 0.4;
}

.row {
    display: flex;
    position: relative;
  
  }
  
  .column-1 {
    flex: 17%;
    padding-left: 60px;
    padding-top: 200px;
    position: relative;
    font-size: 20px;
  }
  .column {
    flex: 75%;
    padding: 5px;
  }

  /* education */
  h1 {
      color: #ffe922;
      font-size: 30px;
      padding-left: 25px;
  }

  .edu1{
    padding: 50px;
    padding-left: 100px;
    justify-content: center;
  }
  
.edu2 {
  padding: 50px;
  justify-content: center;
}
 

  #codeSpace {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 30px;
      padding-right: 30px;
  }
  #vega {
      padding-top: 30px;
      padding-bottom: 30px;
  }

  .education {
      padding-top: 50px;
  }

  /* experience */

  .exp1{
    padding: 50px;
    padding-left: 100px;
    justify-content: center;
    padding-top: 100px;
  }

  .exp2{
    padding: 50px;
    padding-left: 200px;
    justify-content: center;
  }


  #animation1 img{
    transition: tranform .7s ease-in-out;
  }

  #animation1 a:hover img{
    transform: rotate(360deg);
  }

  #animation2 img{
    transition: tranform .7s ease-in-out;
  }

  #animation2 a:hover img{
    transform: rotate(360deg);
  }

  /* skill section */
h3{
  text-align: center;
  color: #ffe922;
  justify-content: center;
  padding-bottom: 50pt;
  font-size: 30px;
  font-weight: bolder;
}
  .carousel-item img {
    width:20vw !important;
    justify-content: center;

  }
  .myicon {
    width: 30vw !important;
    padding-bottom: 30pt;
  }

.spacing{
  margin: auto;
  display: flex;
  justify-content: center;
}

h4{
  color: #ffe922;
  font-size: 30px;
  padding-left: 22px;
}
.row9 {
text-align: center;
}

/* modal */
.modal-header {
  background-color: #ffe922;
  color: #000000;
  justify-content: center;
}
h6 {
  font-size: 30px;
  justify-content: center;
}
.modal-body {
  color: #000000;
}


.form{
  background: linear-gradient(-45deg, #000000,#333333, #202020, #000000 );
  
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



#end {
  justify-content: center;
}

.endimage {
  display: flex;
  height: 30px;
  margin: auto;
  margin-bottom: auto;
}

/* footer section */
  footer {
    background-color: #000000;
    text-align: center;
    color:#643939 ;
    font-display: black;
  }
.jumbotron {
  background-color: #000000;
  border: #ffe922 solid;
}