body{
    color: rgb(242, 242, 242);
    background-color: black;
    font-size: 12px;
}

   /* site scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgb(43, 42, 42);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ffe922;
    border-radius: 50px;
}

/* navbar */
.navbar {
    background-color: rgb(31, 31, 31);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
.nav-link{
color: #ffffff !important;
}
.nav-link a :hover{
    color: aqua;
}
#mylogo{
    height: 10px;
}

/* into section */
#background-video{
    position: relative;
    width: 100%;
    opacity: 0.4;
}

.row {
    display: flex;
  }
  
  .column-1 {
    flex: 15%;
    padding-left: 60px;
    padding-top: 140px;
    position: relative;
    font-size: 12px;
  }
  .column {
    flex: 75%;
    padding: 5px;
  }

  /* education */
  h1 {
      color: #ffe922;
      font-size: 18px;
      padding-left: 25px;
  }

  .column-3 {
    flex: 10%;
    padding-left: 60px;
    position: relative;
  }

  .column-4 {
    flex:10%;
    padding: 5px;
  }

  #codespace {
      padding-top: 30px;
      padding-bottom: 30px;
  }
  #vega {
      padding-top: 30px;
      padding-bottom: 30px;
  }

  .education {
      padding-top: 50px;
  }